body {
    text-align: center;
}

h1, p {
    background-color: #DDE0E3;    /* Light gray */
}

h1 {
    padding: 50px;
    border: 1px solid #5D6063;    /* border: size, type, color */
}

    /*
    Borders can be applied selectively same as padding.
    border-top, border-right, border-bottom, and border-left.
    */

p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;            /* margins behave similar like padding and border */
}

    /* 
    The rule above can be written like:

        p {
            padding: 20px 10px;
        }

    Here the first value is for `Vertical padding` and the second value is for `Horizontal padding`.

    or like:

        p {
            padding: 20px 0 20px 10px;
        }

    Here the values are from left to right for `Top padding`, `Right padding`, `Bottom padding` and `Left padding`.
    */

em, strong {
    background-color: #B2D6FF;    /* Light blue */
    display: inline;                /* This is the default display value for em and strong elements */
}

div {
    box-sizing: border-box;         /* This forces the actual width of the box to be 200px, padding and borders included. */

    width: 200px;

    background-color: #5995DA;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 2px solid #5D6063;
    border-radius: 5px;

    margin: 20px auto;              /* This centers the div in the middle. First value = 20px = vertical. Second value = auto = horizontal. */
}